<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>About Tiktrik</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="/static/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesoeet" href="/static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<body>
	<!-- header section start-->
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<a class="logo" href="http://tiktrik.com"><img src="/static/images/logo.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item ms-auto">
          <a class="nav-link" href="{% url 'home' %}">HOME</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href="{% url 'blogs' %}">BLOGS</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus' %}">CONTACT US</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
       </li>
			</ul>
		</div>
		<!-- <div class="login_text"><a href="login.html">About</a></div> -->
	</nav>
  <!-- header section end-->

  <div class="services_section">
    <div class="container">
      <h1 class="col_title"  style="color: aliceblue;">ABOUT</h1>
    </div>
  </div>

  <div class="layout_padding contact_us">
    <div class="container">
      <div class="underliner">
				<h1 class="col_title">Best Tiktok Video Downloader Without Watermark</h1>
			</div>
      <p class="p1_para">At TikTrik, we take pride in being the premier TikTok Video Downloader. Our mission is simple: to provide you with the fastest and most convenient tool for downloading TikTok videos, all while maintaining the highest video quality. Best of all, it's completely free, and there's no need for registration.</p>
      <p class="h1_title">Why Choose TikTrik?</p>
      <p class="p1_para">1 - With TikTrik, you have the freedom to download as many TikTok videos as your heart desires. There are no limits here.</p>
      <p class="p1_para">2 - We understand that your time is valuable. That's why we've optimized our platform for high-speed encoding, allowing you to convert your videos quickly and effortlessly.</p>
      <p class="p1_para">3 - We believe in keeping things simple. There's no need to create an account or go through a registration process. TikTrik is ready to serve you hassle-free.</p>
      <p class="h1_title">How to Use TikTrik</p>
      <p class="p1_para">Step - 1 : First of all, open TikTok and find the video you want to download.</p>
      <p class="p1_para">Step - 2 : After that, copy the video's URL from TikTok.</p>
      <p class="p1_para">Step - 3 : Now, paste the video URL into TikTrik's search box, and let our tool fetch the video.</p>
      <p class="p1_para">Step - 4 : Once the video is fetched, you can now download the video, enjoy it at your convenience, wherever and whenever you like.</p>
    </div>
  </div>

  <div class="guide_section rounded_box">
    <div class="container">
      <p class="faqs_title">FAQs</p>
      <p class="faqs_q">What is tiktok?</p>
      <p class="faqs">TikTok is a social media platform where users, especially young individuals, come together to express themselves creatively through short videos. These videos encompass a wide range of content, including singing, dancing, comedy, lip-syncing, and more.</p>
      <p class="faqs_q">Who owns tiktok?</p>
      <p class="faqs">ByteDance created Tiktok in Beijing, China and currently tikTok is owned by the Chinese company ByteDance, it is accessible in over 150 nations worldwide. It has a Chinese version that operates separately. The Chinese version is "Douyin."</p>
      <p class="faqs_q">Will I get banned from using tiktok downloader?</p>
      <p class="faqs">You can use TikTrik without worrying about getting banned. TikTrik is an external source, and it does not require any sign-up or access to your TikTok account. Your TikTok usage remains unaffected, and you can download videos without watermark hassle-free.</p>
    <!-- <h1 class="subscribr_text">Subscribe Now</h1>
    <p class="lorem_text">There are many variations of passages of Lorem Ipsum available, but the majority have </p>
    <div class="box_main_2">
        <textarea type="" class="email_bt_2" placeholder="Enter Your Email" name=""></textarea>
      </div>
      <button class="subscribe_bt_2"><a href="#">Subscribe</a></button> -->
    </div>
  </div>
  <!-- footer section start-->
  <div class="footer_section layout_padding">
		<div class="container">
			<div class="row">
				<div class="col">
					<div>
						<p class="footer_titles">ABOUT</p>
					</div>
					<p class="footer_text">Discover TikTrik - Your Trusted Source for Seamless Video Downloads</p>
				</div>
				<div class="col">
					<div>
						<p class="footer_titles">LINKS</p>
					</div>
					<p class="footer_text"><a href="http://tiktrik.com">Home</a></p>
					<p class="footer_text"><a href="blogs.html">Blogs</a></p>
					<p class="footer_text"><a href="about.html">About</a></p>
					<p class="footer_text"><a href="contact us.html">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>
  <!-- footer section end-->
  <!-- copyright section start-->
  <div class="copyright_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="copyright_text">Copyright 2020 All Rights Reserved By.<a href="https://html.design"> Tiktrik</a> v0.1.23</p>
        </div>
        <div class="col-md-6">
          <p class="cookies_text">Cookies, Privacy and Terms</p>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright section end-->


    <!-- Javascript files-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery-3.0.0.min.js"></script>
      <script src="/static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/js/custom.js"></script>
      <!-- javascript --> 
      <script src="/static/js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         </script>


     
</body>
</html>